.DS_Store
.venv
venv
data
libs
refimg
Shapefile*
requirements.txt

*__pycache__*
*.db
*.pyc
*.blend1
*.svg
*.gp
*.xml
*.gltf
*.bin
*.txt
*patent*
project/endlessway/models/track*
project/endlessway/data*
project/endlessway/track_tool.py